{
  "presets": [["@babel/preset-env", {
    "modules": false,
    "targets": {
      "browsers": ["> 1%"]
    }
  }], "@babel/preset-react", "@babel/preset-flow"],
  "plugins": ["transform-flow-strip-types"]
}
